:root {
    --main-color : #EAE8FE;
    --point-color : #6327FE;
    --drink-txt-color : #333333;
}

body {
    background-color: var(--main-color);
    text-align: center;
}

.main-vending {
    width: 773px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
}

.img-logo {
    width: 386px;
    margin-bottom: 67px;
}

.vending {
    width: 360px;
    background-color: #ffffff;

}

.cont-choose {
    
}

.getDrink-wrap {
}