@charset "utf-8";


:root {
    --main-color: #6327FE;
    --back-color: #EAE8FE;
    --drink-txt-color: #333333;
}

body {
    background-color: var(--back-color);
    font-family: 'Noto Sans KR', sans-serif;
}

#cola-cola {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 28px;
    padding: 248px 0 50px;
}