@charset "utf-8";

:root {
    --main-color: #6327FE;
    --back-color: #EAE8FE;
    --drink-txt-color: #333333;
    --line-color: #BDBDBD;
}

body {
    background-color: var(--back-color);
}

.img-drink {
    display: block;
}

#cola-cola {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 28px;
    padding: 248px 0 50px;
    font-family: 'Noto Sans KR', sans-serif;
}

#cola-cola .vending-machine, 
#cola-cola .my-info {
    width: 360px;
    background-color: #fff;
    box-sizing: border-box;    
}

#cola-cola .vending-machine {
    padding: 31px 27px 28px;
}

#cola-cola .title-cola {
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 386px;
    height: 180px;
    background-image: url("./images/Logo_img.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

#app .vending-machine {
    padding: 31px 27px 28px;
}


.vending-machine .list-drink {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

.vending-machine .list-drink li{
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

/* focus 시 보라색 border */
.vending-machine .list-drink li:active::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    outline: 3px solid var(--main-color);
    border-radius: 10px;
}   

.vending-machine .list-drink .btn-drink {
    padding: 11px 0 9px;
    
}

.vending-machine .list-drink .img-drink {
    width: 36px;
    margin: 0 auto;
}
.vending-machine .list-drink .title-drink {
    display: block;
    font-size: 9px;
    line-height: 13px;
    margin: 6px 0 7px;
}

.vending-machine .list-drink .txt-price{
    display: inline-block;
    font-size: 12px;
    line-height: 100%;
    padding: 5px 16px 5px 15px ;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 50px;

}

/* sold-out */
.vending-machine .list-drink li.sold-out::before  {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    border-radius: 10px;
    background: no-repeat center/ 60px 46px url("./images/Sold-out.png") rgba(0, 0, 0, 0.5);
}

.vending-machine .list-drink li.sold-out::after  {
    content: '품절';
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
    line-height: 0;
    font-size: 1px;
    color: transparent;
}
.vending-machine .list-drink li.sold-out {
    pointer-events: none;
}


.vending-machine .content-buy {
    display: grid;
    /* 상단의 콜라부분과 같이 grid를 맞춰야하기에 3개로 나눈다 */
    grid-template-columns: 1fr 1fr 1fr; /* 2fr 1fr로 하면 미세하게 달라지기에 똑같이 해주는게 좋다 */
    gap: 12px;
    margin-top: 20px;
}

/* common layout */
.content-buy .info-change,
.content-buy .input-put,
.content-buy .list-choose {
    grid-column: 1/3;
    padding: 7px 10px;
    box-sizing: border-box;
    border-radius: 5px
}

.content-buy .btn-return,
.content-buy .btn-put,
.content-buy .btn-choose {
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    line-height: 19px;
}

.content-buy .btn-return,
.content-buy .btn-put{
    font-size: 13px;
    font-weight: 500;
}

.content-buy .info-change {
    
    font-size: 14px;
    background-color: var(--back-color);
}

.info-change .txt-change {
    float: right;
}

.content-buy .input-put {
    outline: none;
    border: 1px solid var(--line-color);
}

.content-buy .list-choose {
    overflow-y: scroll;
    height: 106px;
    background-color: var(--back-color);
    border: 1px solid var(--line-color);
    box-sizing: border-box;
    border-radius: 5px;
}


/* scroll bar */
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 15px;
    border-width: 4px;
    border-color: transparent;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    box-shadow: transparent 0 0 0 inset;
    border: 0;
}

.list-choose li {
    padding: 6px 8px 6px 10px;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
}

.list-choose .btn-drink {
    display: flex;
}
.list-choose .img-drink {
    width: 18px;    
}

.list-choose li+li {
    margin-top: 6px;
}

.list-choose .title-drink {
    margin-left: 10px;
    line-height: 33px;
    font-size: 9px; 
}


.list-choose .count-choose {
    margin-left: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
}

.content-buy .btn-choose {
    font-weight: 700;
    background-color: var(--main-color);
    color: #fff;
}

/* 오른쪽 영역 */
#cola-cola  .my-info {
    background-color: #EAE8FE;
}

.my-info .content-money {
    width: 306px;
    padding: 9px 27px;
    background-color: #fff;
}

.content-money .info-money {
    padding: 6px 10px;
    background-color: var(--back-color);
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.content-money .txt-money {
    font-weight: 700;
    float: right;
}


.my-info .content-get {
    padding: 25px 27px 32px;
    margin-top: 20px;
    background-color: #fff;
}


.my-info .title-get {
    display: block;
    text-align: center;
    margin-bottom: 13px;
    font-size: 14px;
    font-weight: 700;
}

.content-get .list-choose {
    width: 306px;
    height: 364px;
    padding: 12px 18px 12px 12px;
    background-color: var(--back-color);
    border-radius: 5px;
    overflow-y: scroll;
    background-color: #EAE8FE;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
}

.content-get .info-total {
    margin: 6px 0 26px;
    font-weight: 500;
    font-size: 12px;
    float: right;
}

.content-get::after {
    content: '';
    display: block;
    clear: both;
}


/* media query */
@media screen and ( min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio:2) {
    body {
        background-color: #fff;
    }
    
    #cola-cola {
        padding-top: 65px;
        padding-bottom: 0px;
    }

    #cola-cola .title-cola {
        width: 166px;
        height: 70px;
    }

    .my-info .content-get {
        margin-top: 0px;
        padding: 31px 27px 32px;
    }

    
}